.container {
  background-color: var(--background-950);
  block-size: 64rem;
  min-inline-size: 32rem;
  max-inline-size: 76.8rem;
  display: flex;
  flex-direction: column;
  padding-block: 1.2rem;
  padding-inline: 1.2rem;
  border-radius: 1.6rem;
  gap: 1rem;
}

.footer {
  font-size: 1.2rem;
  display: flex;
  margin-top: auto;
  color: var(--text-50);
  justify-content: space-between;
}
